body
{
   width: 960px;
   background-color: #FDFCDC;
   margin: 10px;
   border: 2px solid #8B0000;
}

h1
{
   background-color: #8B0000;
   color: Ivory;
   margin-top: 0px;
   margin-bottom: 0px;
   padding: 15px;
}

.genre
{
   margin: 10px;
   border: 2px solid black;
}

h2
{
   background-color: black;
   color: Ivory;
   padding: 5px;
   margin-top: 0px;
   bottom-margin: 0px;
}
